In [138]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
df = pd.read_csv( "kc_house_data_clean.csv")

In [139]:
df.loc[df['yr_renovated'] == 0, 'yr_renovated'] = df['yr_built']

In [140]:
pd.set_option('display.max_columns', None) #-- pour avoir tout le tableau dans sa largeur 

df.sort_values(by="floors")

,Unnamed: 0,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21435,15951,30/10/2014,268950.0,3,1.00,1320,8100,1.0,0,0,3,6,880,440,1943,1943,98166,47.4697,-122.351,1000,8100
18274,11134,17/02/2015,220000.0,4,1.75,1910,8171,1.0,0,0,3,7,1910,0,1986,1986,98030,47.3500,-122.168,1910,7542
7270,1787,05/03/2015,552500.0,3,1.75,2040,5775,1.0,0,0,3,7,1410,630,1958,1958,98199,47.6592,-122.393,1360,4400
7271,1212,13/08/2014,470000.0,3,1.00,1170,4400,1.0,0,0,3,7,870,300,1951,1951,98199,47.6584,-122.391,1240,4400
18273,6591,29/07/2014,267500.0,3,1.75,1650,7807,1.0,0,0,3,7,1650,0,1986,1986,98030,47.3514,-122.167,1810,8475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4997,20308,18/09/2014,525000.0,2,2.75,1310,1268,3.5,0,0,3,8,1310,0,2007,2007,98103,47.6534,-122.355,1350,1288
14276,875,12/06/2014,1095000.0,0,0.00,3064,4764,3.5,0,2,3,7,3064,0,1990,1990,98102,47.6362,-122.322,2360,4000
3109,18477,20/10/2014,3300000.0,8,4.00,7710,11750,3.5,0,0,5,12,6090,1620,1904,1904,98112,47.6263,-122.314,4210,8325
4046,15424,16/04/2015,479000.0,2,2.50,1730,1037,3.5,0,0,3,8,1730,0,2008,2008,98118,47.5594,-122.285,1280,1026
4998,20772,25/06/2014,563500.0,3,2.50,1400,1312,3.5,0,0,3,8,1400,0,2007,2007,98103,47.6534,-122.355,1350,1312

In [141]:
df.sort_values(by="price")

,Unnamed: 0,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
9212,1149,17/02/2015,75000.0,1,0.00,670,43377,1.0,0,0,3,3,670,0,1966,1966,98022,47.2638,-121.906,1160,42882
59,15293,06/05/2014,78000.0,2,1.00,780,16344,1.0,0,0,1,5,780,0,1942,1942,98168,47.4739,-122.280,1700,10387
18932,465,23/05/2014,80000.0,1,0.75,430,5050,1.0,0,0,2,4,430,0,1912,1912,98014,47.6499,-121.909,1200,7500
8014,16198,24/03/2015,81000.0,2,1.00,730,9975,1.0,0,0,1,5,730,0,1943,1943,98168,47.4808,-122.315,860,9000
3899,2141,08/05/2014,82500.0,2,1.00,520,22334,1.0,0,0,2,5,520,0,1951,1951,98168,47.4799,-122.296,1572,10570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19629,1448,13/04/2015,5350000.0,5,5.00,8000,23985,2.0,0,4,3,12,6720,1280,2009,2009,98004,47.6232,-122.220,4600,21750
6219,4411,04/08/2014,5570000.0,5,5.75,9200,35069,2.0,0,0,3,13,6200,3000,2001,2001,98039,47.6289,-122.233,3560,24345
20007,9254,19/09/2014,6885000.0,6,7.75,9890,31374,2.0,0,4,3,13,8860,1030,2001,2001,98039,47.6305,-122.240,4540,42730
21286,3914,11/06/2014,7062500.0,5,4.50,10040,37325,2.0,1,2,3,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
14902,7252,13/10/2014,7700000.0,6,8.00,12050,27600,2.5,0,3,4,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800

In [142]:
max_bedrooms = df['bedrooms'].max()
mean_bedrooms = df['bedrooms'].mean()
df['bedrooms'] = df['bedrooms'].replace(max_bedrooms, mean_bedrooms)

# /////////////////  drop de bedrooms 0 et 33 //////////
# df = df.drop(df.loc[(df['bedrooms'] == 0) | (df['bedrooms'] == 33)].index)
# df.sort_values(by="bedrooms")


# df = df.drop(df.loc[(df['bathrooms'] == 0) | (df['bathrooms'] == 33)].index)
df = df.drop(df[df['bathrooms'] == 0].index)
# # Créer la colonne 'bed_bath_ratio'
df['bed_bath_ratio'] = df['bedrooms'] // df['bathrooms']
df['price/sqft_living'] = df['price'] // df['sqft_living']
df['price/sqft_lot'] = df['price'] // df['sqft_lot']

df

,Unnamed: 0,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bed_bath_ratio,price/sqft_living,price/sqft_lot
0,2497,22/04/2015,300000.0,6.0,3.00,2400,9373,2.0,0,0,3,7,2400,0,1991,1991,98002,47.3262,-122.214,2060,7316,2.0,125.0,32.0
1,6735,08/05/2014,647500.0,4.0,1.75,2060,26036,1.0,0,0,4,8,1160,900,1947,1947,98166,47.4444,-122.351,2590,21891,2.0,314.0,24.0
2,8411,11/08/2014,400000.0,3.0,1.00,1460,43000,1.0,0,0,3,7,1460,0,1952,1952,98166,47.4434,-122.347,2250,20023,3.0,273.0,9.0
3,8809,01/04/2015,235000.0,3.0,1.00,1430,7599,1.5,0,0,4,6,1010,420,1930,1930,98168,47.4783,-122.265,1290,10320,3.0,164.0,30.0
4,3557,19/03/2015,402500.0,4.0,2.00,1650,3504,1.0,0,0,3,7,760,890,1951,2013,98144,47.5803,-122.294,1480,3504,2.0,243.0,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21431,16737,25/07/2014,365000.0,5.0,2.00,1600,4168,1.5,0,0,3,7,1600,0,1927,1927,98126,47.5297,-122.381,1190,4168,2.0,228.0,87.0
21432,3260,11/03/2015,380000.0,2.0,1.00,1040,7372,1.0,0,0,5,7,840,200,1939,1939,98126,47.5285,-122.378,1930,5150,2.0,365.0,51.0
21433,7621,24/06/2014,339000.0,3.0,1.00,1100,4128,1.0,0,0,4,7,720,380,1942,1942,98126,47.5296,-122.379,1510,4538,3.0,308.0,82.0
21434,20979,03/07/2014,399900.0,2.0,1.75,1410,1005,1.5,0,0,3,9,900,510,2011,2011,98027,47.5446,-122.018,1440,1188,1.0,283.0,397.0
21435,15951,30/10/2014,268950.0,3.0,1.00,1320,8100,1.0,0,0,3,6,880,440,1943,1943,98166,47.4697,-122.351,1000,8100,3.0,203.0,33.0

In [143]:
# # Conversion de la colonne 'date' en objet datetime
# df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')

# # Extraction des composants d'année et de mois
# df['annee'] = df['date'].dt.year
# df['mois'] = df['date'].dt.month

In [144]:
# Utiliser la méthode unique() pour récupérer tous les codes postaux uniques
zipcodes_uniques = df['zipcode'].unique()

# Afficher les codes postaux uniques
print(zipcodes_uniques)

[98002 98166 98168 98144 98178 98108 98032 98055 98118 98122 98115 98007
 98034 98052 98042 98040 98136 98126 98146 98188 98059 98109 98116 98103
 98006 98075 98024 98155 98003 98023 98117 98177 98019 98028 98092 98022
 98070 98038 98107 98106 98065 98053 98072 98077 98133 98001 98056 98045
 98033 98011 98014 98199 98008 98031 98004 98074 98030 98027 98029 98058
 98010 98005 98198 98148 98112 98125 98105 98102 98119 98039]

In [145]:
# Obtenir les codes postaux uniques
zipcodes_uniques = df['zipcode'].unique()

# Boucle sur chaque code postal unique et ajoute une colonne correspondante à df
for zipcode in zipcodes_uniques:
    # Créer une nouvelle colonne pour le code postal
    df[zipcode] = pd.get_dummies(df['zipcode'].apply(lambda x: 1 if x==zipcode else 0))[1]

In [146]:
# # supprimer les lignes où le prix est supérieur à 4 000 000
df = df.drop(df[df['price'] > 1500000].index)
df = df.drop(df[df['sqft_living'] > 6000].index)
df = df.drop(df[df['floors'] > 2.4].index)
# df = df.drop(df[df['bedrooms'] == 0].index)
# df = df.drop(df[df['bedrooms'] > 7].index)
# df = df.drop(df[df['grade'] < 5].index)
# df = df.drop(df[df['grade'] > 10].index)


# df = df.drop(df[df['grade'] > 11].index)  --> ne pas toucher au grade





# # afficher les 10 prix les plus haut  20577
# df.nlargest(10, 'price')
df.shape

(20170, 96)

In [147]:
df.sort_values(by="price")

,Unnamed: 0,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bed_bath_ratio,price/sqft_living,price/sqft_lot,annee,mois,98002,98166,98168,98144,98178,98108,98032,98055,98118,98122,98115,98007,98034,98052,98042,98040,98136,98126,98146,98188,98059,98109,98116,98103,98006,98075,98024,98155,98003,98023,98117,98177,98019,98028,98092,98022,98070,98038,98107,98106,98065,98053,98072,98077,98133,98001,98056,98045,98033,98011,98014,98199,98008,98031,98004,98074,98030,98027,98029,98058,98010,98005,98198,98148,98112,98125,98105,98102,98119,98039
59,15293,2014-05-06,78000.0,2.0,1.00,780,16344,1.0,0,0,1,5,780,0,1942,1942,98168,47.4739,-122.280,1700,10387,2.0,100.0,4.0,2014,5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18932,465,2014-05-23,80000.0,1.0,0.75,430,5050,1.0,0,0,2,4,430,0,1912,1912,98014,47.6499,-121.909,1200,7500,1.0,186.0,15.0,2014,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8014,16198,2015-03-24,81000.0,2.0,1.00,730,9975,1.0,0,0,1,5,730,0,1943,1943,98168,47.4808,-122.315,860,9000,2.0,110.0,8.0,2015,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3899,2141,2014-05-08,82500.0,2.0,1.00,520,22334,1.0,0,0,2,5,520,0,1951,1951,98168,47.4799,-122.296,1572,10570,2.0,158.0,3.0,2014,5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17990,18468,2014-05-29,83000.0,2.0,1.00,900,8580,1.0,0,0,3,5,900,0,1918,1918,98168,47.4727,-122.270,2060,6533,2.0,92.0,9.0,2014,5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1356,14419,2014-09-09,1500000.0,4.0,4.25,5020,26319,2.0,0,0,3,12,5020,0,1998,1998,98074,47.6008,-122.010,4930,26319,0.0,298.0,56.0,2014,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19797,12018,2014-05-08,1500000.0,3.0,1.75,2430,12757,1.0,0,2,4,8,1340,1090,1952,1952,98004,47.6201,-122.209,2930,12450,1.0,617.0,117.0,2014,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17727,18382,2015-03-10,1500000.0,3.0,3.00,3110,9015,1.0,0,4,4,10,1590,1520,1980,1980,98033,47.6624,-122.202,3150,11447,1.0,482.0,166.0,2015,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
800,7064,2014-12-12,1500000.0,4.0,3.25,3860,7199,2.0,0,1,3,9,2870,990,2005,2005,98115,47.6855,-122.269,2940,9600,1.0,388.0,208.0,2014,12,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6010,19466,2015-03-03,1500000.0,5.0,3.50,3520,5400,2.0,0,0,3,9,2400,1120,2008,2008,98119,47.6364,-122.363,1360,3600,1.0,426.0,277.0,2015,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [148]:
df = df.drop(["Unnamed: 0" ,"date",'condition', "sqft_above",
               'yr_built','mois','annee',], axis=1)  # on va esseyer de supprimer la co
# print(df.price.corr(df['sqft_lot15']))
df.head(3)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,sqft_basement,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bed_bath_ratio,price/sqft_living,price/sqft_lot,98002,98166,98168,98144,98178,98108,98032,98055,98118,98122,98115,98007,98034,98052,98042,98040,98136,98126,98146,98188,98059,98109,98116,98103,98006,98075,98024,98155,98003,98023,98117,98177,98019,98028,98092,98022,98070,98038,98107,98106,98065,98053,98072,98077,98133,98001,98056,98045,98033,98011,98014,98199,98008,98031,98004,98074,98030,98027,98029,98058,98010,98005,98198,98148,98112,98125,98105,98102,98119,98039
0,300000.0,6.0,3.00,2400,9373,2.0,0,0,7,0,1991,98002,47.3262,-122.214,2060,7316,2.0,125.0,32.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,647500.0,4.0,1.75,2060,26036,1.0,0,0,8,900,1947,98166,47.4444,-122.351,2590,21891,2.0,314.0,24.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,400000.0,3.0,1.00,1460,43000,1.0,0,0,7,0,1952,98166,47.4434,-122.347,2250,20023,3.0,273.0,9.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [149]:
# df = df.rename(columns={'bedrooms': 'chambres' ,  'bathrooms': 'salles de bain',  'sqft_living': 'surface à vivre',
#                         'sqft_lot': 'surface du terrain' ,  'floors': 'Nb étage',  'condition': 'etat du bien',
#                           'grade': 'qualite construction' ,  'yr_built': 'année construction',  
#                           'yr_renovated': 'années renovation / construction',
#                           'zipcode': 'code postal' , 'sqft_living15'  : 'surface à vivre des 15 voisin les plus proche',  
#                           'sqft_basement' :'surface sous-sol', 'view': 'qualite de la vue', "price" : "prix", "waterfront": "vue sur lac"
#                           ,'bed_bath_ratio':'ratio chambre/salle de bain'
#                           })
df.head(3)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,grade,sqft_basement,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bed_bath_ratio,price/sqft_living,price/sqft_lot,98002,98166,98168,98144,98178,98108,98032,98055,98118,98122,98115,98007,98034,98052,98042,98040,98136,98126,98146,98188,98059,98109,98116,98103,98006,98075,98024,98155,98003,98023,98117,98177,98019,98028,98092,98022,98070,98038,98107,98106,98065,98053,98072,98077,98133,98001,98056,98045,98033,98011,98014,98199,98008,98031,98004,98074,98030,98027,98029,98058,98010,98005,98198,98148,98112,98125,98105,98102,98119,98039
0,300000.0,6.0,3.00,2400,9373,2.0,0,0,7,0,1991,98002,47.3262,-122.214,2060,7316,2.0,125.0,32.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,647500.0,4.0,1.75,2060,26036,1.0,0,0,8,900,1947,98166,47.4444,-122.351,2590,21891,2.0,314.0,24.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,400000.0,3.0,1.00,1460,43000,1.0,0,0,7,0,1952,98166,47.4434,-122.347,2250,20023,3.0,273.0,9.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [150]:
# df = df.drop(df.loc[(df['chambres'] == 0) | (df['chambres'] == 33)].index)
# df
# df.sort_values(by="surface à vivre")

In [151]:
# df.sort_values(by="chambres") # pour savoir si les maison ou il y a 0 ou 33 chambre sont supprimer 
# df

In [152]:
# matrix = df.corr()
# matrix

In [153]:
df.to_csv('kc_house_data_modelisation.csv')

In [154]:
df = df.drop([ "price",	"bedrooms"	,"bathrooms",	"sqft_living"	,"sqft_lot",	"floors",	"waterfront",
              "view",	"grade",	"sqft_basement",	"yr_renovated",
              "lat",	"long",	"sqft_living15",	"sqft_lot15",	"bed_bath_ratio",	"price/sqft_living"	,"price/sqft_lot"], axis=1)

df.to_csv("zip_code_map.csv" , index=False)

In [155]:


# # Obtenir les codes postaux uniques
# zipcodes_uniques = df['zipcode'].unique()

# # Créer un DataFrame vide pour stocker la carte des codes postaux
# zip_code_map = pd.DataFrame(columns=['zip_code', 'zip_code_map'])

# # Boucle sur chaque code postal unique et ajoute une ligne correspondante au DataFrame zip_code_map
# for zipcode in zipcodes_uniques:
#     # Créer un dictionnaire contenant le code postal et sa carte correspondante
#     data = {'zip_code': zipcode, 'zip_code_map': pd.get_dummies(df['zipcode'].apply(lambda x: 1 if x==zipcode else 0))[1].values}
#     # Ajouter la ligne au DataFrame zip_code_map
#     zip_code_map = zip_code_map.append(data, ignore_index=True)

# # Enregistrer le DataFrame zip_code_map en tant que fichier CSV
# zip_code_map.to_csv('zip_code_map.csv', index=False)

In [156]:
# # Obtenir les codes postaux uniques
# zipcodes_uniques = df['zipcode'].unique()

# # Boucle sur chaque code postal unique et ajoute une colonne correspondante à df
# for zipcode in zipcodes_uniques:
#     # Créer une nouvelle colonne pour le code postal
#     df[zipcode] = pd.get_dummies(df['zipcode'].apply(lambda x: 1 if x==zipcode else 0))[1]